.ptx { padding-top: $size-xs; }
.prx { padding-right: $size-xs; }
.pbx { padding-bottom: $size-xs; }
.plx { padding-left: $size-xs; }

.pts { padding-top: $size-sm; }
.prs { padding-right: $size-sm; }
.pbs { padding-bottom: $size-sm; }
.pls { padding-left: $size-sm; }

.ptm { padding-top: $size-md; }
.prm { padding-right: $size-md; }
.pbm { padding-bottom: $size-md; }
.plm { padding-left: $size-md; }

.ptl { padding-top: $size-lg; }
.prl { padding-right: $size-lg; }
.pbl { padding-bottom: $size-lg; }
.pll { padding-left: $size-lg; }

.mtx { margin-top: $size-xs; }
.mrx { margin-right: $size-xs; }
.mbx { margin-bottom: $size-xs; }
.mlx { margin-left: $size-xs; }

.mts { margin-top: $size-sm; }
.mrs { margin-right: $size-sm; }
.mbs { margin-bottom: $size-sm; }
.mls { margin-left: $size-sm; }

.mtm { margin-top: $size-md; }
.mrm { margin-right: $size-md; }
.mbm { margin-bottom: $size-md; }
.mlm { margin-left: $size-md; }

.mtl { margin-top: $size-lg; }
.mrl { margin-right: $size-lg; }
.mbl { margin-bottom: $size-lg; }
.mll { margin-left: $size-lg; }