.row {
	display: block;
	margin-left: -$grid-padding;
	margin-right: -$grid-padding;
	@include clearfix;
}

.row > .col {
	float: left;
	display: block;
	padding-left: $grid-padding;
	padding-right: $grid-padding;
	box-sizing: border-box;

	@each $prefix in $prefixes {
		@include gte($prefix) {
			@for $i from 1 through $grid-columns {
				&.#{$prefix}-#{$i} { width: 100% * $i / $grid-columns; }
				&.#{$prefix}-offset-#{$i} { margin-left: 100% * $i / $grid-columns; }
			}
		}
	}
}

.row > .break {
	display: none;

	@each $prefix in $prefixes {
		@include eq($prefix) {
			&.#{$prefix} {
				display: block;
				clear: both;
			}
		}
	}
}

.row.-no-gutter {
	margin-left: 0;
	margin-right: 0;

	> .col {
		padding-left: 0;
		padding-right: 0;
	}
}